<div class="row align-items-center mb-3">
    <div class="col-md-9 col-12">
        <h3>{{ job.title }}</h3>
        <div><b>Location: </b>{{ job.location }}</div>
        {% if job.salary %}
        <div><b>Salary: </b>${{ job.salary }}</div>
        {% endif %}
    </div>
    <div class="col-md-3 col-12 text-md-end text-center mt-2 mt-md-0">
        <a href="mailto:hr@fakecompany.com?subject=Application%20for%20{{ job.title|urlencode }}&body=Hello%2C%0A%0AI%27m%20interested%20in%20applying%20for%20the%20{{ job.title|urlencode }}%20position.%0A%0AThank%20you%2C%0A%5BYour%20Name%5D"
            class="btn btn-primary mt-2">
            Apply
        </a>
    </div>
</div>
<hr>